<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <title>Homepage</title>
    <!-- Styling tampilan dengan bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <div class="mt-5"></div>
    <div class="container">
      <div class="card text-center bg-light">
        <div class="row justify-content-md-center">
          <h1 class="mt-3">Welcome To My Website</h1>
          <div class="my-5">
            <a href="allProducts" class="btn btn-outline-primary">Get all product</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
