<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
  <title>All Products</title>
  <!-- Styling tampilan dengan bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
</head>
<body class="bg-light">
  <div class="mt-5"></div>
  <h5 class="text-center mt-3 mb-3">All Products</h5>
  <div class="container">
    <div class="mb-3">
      <a href="/" class="btn btn-info">Homepage</a>
      <a href="/products" class="btn btn-primary">Add Product</a>
    </div>
    <table class="table text-center">
      <thead class="table text-white bg-dark">
        <tr>
          <th>No</th>
          <th>Product Name</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <% let i = 1 %>
        <% productsData.forEach((product) => { %>
        <tr>
          <td><%= i++ %></td>
          <td><%= product?.name %></td>
          <td>
            <a href="/update/<%= product?.id %>" class="btn btn-success btn-sm"> <i class="fa fa-edit"></i> Edit</a>
            <a href="/delete/<%= product?.id %>" onclick='return confirm("yakin mau dihapus?")' class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>
