<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
  <title>Update Product</title>
  <!-- Styling tampilan dengan bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
  <div class="mt-5"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="card w-50">
        <div class="card-header text-center">
          Edit Product
        </div>
        <div class="card-body">
          <form action="/update/<%= product?.id %>" method="POST">
            <div class="row">
              <div class="col-lg-10">
                <input id="updateName" type="text" name="name" value="<%= product?.name %>" class="form-control mb-3">
              </div>
              <div class="col-lg-2">
                <button onclick="updateDataProduct()" class="btn btn-success">Update</button>
              </div>
            </div>
          </form>
          <div>
            <a href="/allProducts" class="btn btn-danger">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>